@font-face {
  font-family: "iconfont"; /* Project id 5073057 */
  src: url('iconfont.woff2?t=1765615935870') format('woff2'),
       url('iconfont.woff?t=1765615935870') format('woff'),
       url('iconfont.ttf?t=1765615935870') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e602";
}

.icon-yuedu:before {
  content: "\e806";
}

.icon-paizhaoshangchuan:before {
  content: "\e611";
}

.icon-fanhuizhuye:before {
  content: "\e620";
}

.icon-xingxing2:before {
  content: "\e685";
}

.icon-chahao:before {
  content: "\e668";
}

